.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $primary-color;

  > * {
    padding-left: 30px;
  }

  h1 {
    font-size: 1rem;
    -webkit-margin-before: 0;
    padding-top: 40px;
  }

  p {
    width: 55%;
    min-width: 550px;
  }

  a {
    color: $primary-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: $primary-color;
  }

  ul {
    list-style: circle;
    margin-left: 2%;
  }
}
